@media (max-width: 575px) {
  .footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
    position: relative;
    bottom: 0;
    background: #000;
  }
  .footer__inner {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__col {
    width: 200px;
    margin-top: 50px;
  }
  .footer__article {
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .footer__logo {
    width: 200px;
    height: auto;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    margin-top: 20px;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 1;
  }
  .footer__link:hover {
    color: #000;
  }
  .footer__link::before {
    content: " ";
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .footer__link:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer__icon {
    font-size: 25px;
  }
  .footer__icon-text {
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .footer__phone {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__phone:hover {
    color: #ff0000;
  }
  .footer__tel {
    letter-spacing: 1.5px;
  }
  .footer__telegram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__telegram:hover {
    color: #2d9cd7;
  }
  .footer__instagram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__instagram:hover {
    color: #f95046;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
    position: relative;
    bottom: 0;
    background: #000;
  }
  .footer__inner {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__col {
    width: 200px;
    margin-top: 50px;
  }
  .footer__article {
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .footer__logo {
    width: 200px;
    height: auto;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    margin-top: 20px;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 1;
  }
  .footer__link:hover {
    color: #000;
  }
  .footer__link::before {
    content: " ";
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .footer__link:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer__icon {
    font-size: 25px;
  }
  .footer__icon-text {
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .footer__phone {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__phone:hover {
    color: #ff0000;
  }
  .footer__tel {
    letter-spacing: 1.5px;
  }
  .footer__telegram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__telegram:hover {
    color: #2d9cd7;
  }
  .footer__instagram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__instagram:hover {
    color: #f95046;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    padding-bottom: 50px;
    position: relative;
    bottom: 0;
    background: #000;
  }
  .footer__inner {
    width: 90%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__col {
    width: 200px;
    margin-top: 50px;
  }
  .footer__article {
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }
  .footer__logo {
    width: 200px;
    height: auto;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__link {
    margin-top: 20px;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 1;
  }
  .footer__link:hover {
    color: #000;
  }
  .footer__link::before {
    content: " ";
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .footer__link:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer__icon {
    font-size: 25px;
  }
  .footer__icon-text {
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .footer__phone {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__phone:hover {
    color: #ff0000;
  }
  .footer__tel {
    letter-spacing: 1.5px;
  }
  .footer__telegram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__telegram:hover {
    color: #2d9cd7;
  }
  .footer__instagram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__instagram:hover {
    color: #f95046;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) {
  .footer {
    width: 100%;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    background: #000;
  }
  .footer__inner {
    width: 990px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__col {
    width: 200px;
  }
  .footer__article {
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
  }
  .footer__logo {
    width: 200px;
    height: auto;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__link {
    margin-top: 20px;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 1;
  }
  .footer__link:hover {
    color: #000;
  }
  .footer__link::before {
    content: " ";
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .footer__link:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer__icon {
    font-size: 25px;
  }
  .footer__icon-text {
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .footer__phone {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__phone:hover {
    color: #ff0000;
  }
  .footer__tel {
    letter-spacing: 1.5px;
  }
  .footer__telegram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__telegram:hover {
    color: #2d9cd7;
  }
  .footer__instagram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__instagram:hover {
    color: #f95046;
  }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .footer {
    width: 100%;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
    position: relative;
    bottom: 0;
    background: #000;
  }
  .footer__inner {
    width: 1110px;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__col {
    width: 200px;
  }
  .footer__article {
    color: #fff;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
  }
  .footer__logo {
    width: 200px;
    height: auto;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__link {
    margin-top: 20px;
    position: relative;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    -webkit-transition: all .25s;
    transition: all .25s;
    z-index: 1;
  }
  .footer__link:hover {
    color: #000;
  }
  .footer__link::before {
    content: " ";
    background: #fff;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.25s;
    transition: -webkit-transform 0.25s;
    transition: transform 0.25s;
    transition: transform 0.25s, -webkit-transform 0.25s;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  .footer__link:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
  .footer__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .footer__icon {
    font-size: 25px;
  }
  .footer__icon-text {
    padding-left: 10px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }
  .footer__phone {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__phone:hover {
    color: #ff0000;
  }
  .footer__tel {
    letter-spacing: 1.5px;
  }
  .footer__telegram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__telegram:hover {
    color: #2d9cd7;
  }
  .footer__instagram {
    color: #fff;
    -webkit-transition: 0.25s all ease-in-out;
    transition: 0.25s all ease-in-out;
  }
  .footer__instagram:hover {
    color: #f95046;
  }
}
/*# sourceMappingURL=footer.css.map */